.backArrowCartPage {
    position: absolute;
    width: 8.2%;
    height: 3.5%;
    left: 5%;
    top: 2%;    
    -webkit-transform: rotate(180deg);
}
.cartPage {
    position: absolute;
    top: 6.7%;
    left: 5%;
    font-family: 'Poppins', sans-serif;
    font-size: 33px;
    font-weight: bold;
    color: #696969;
}
.ProductListCart {
    position: absolute;
    top: 12%;
    width: 100%;
    height: 78%;
    overflow: auto;
    /* border: black solid 1px; */
}
.total {
    position: absolute;
    display: table;
    bottom: 0%;
    width: 100%;
    height: 7%;
    background-color: #ffc107;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.checkout {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    margin: 10%;
    background-color: transparent;
    color: white;
    font-size: 140%;
    font-weight: bold;
    /* border: solid black 1px; */
}
.procced {
    background-color: transparent;
    vertical-align: middle;
    position: relative;
    width: 10%;
    height: 40%;
    -webkit-transform: rotate(180deg);
    /* border: solid black 1px; */
}